In [1]:
import numpy as np
import pandas as pd ##data manipulation and analysis
##data visualization --- charts and plots
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [2]:
##reading the dataset
df = pd.read_csv("cust_satisfaction.csv")
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [3]:
##data frame -- 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [4]:
##data cleaning 
##1 -- null values remove 
##2 -- duplicate values remove

##1 null values 
##to check null values 
df.isnull().sum()
##to remove null values
df.dropna(inplace=True) 
# df.isnull().sum()

In [5]:
df.shape

(103594, 12)

In [6]:
##to check duplicate values
df.duplicated().sum()
##to remove duplicate values
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [7]:
df["Customer Type"].value_counts()

Customer Type
Loyal Customer       84517
disloyal Customer    18905
Name: count, dtype: int64

In [8]:
cat_col = df.select_dtypes(include="object")
cat_col.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied
2,Female,Loyal Customer,Business travel,Business,satisfied
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied
4,Male,Loyal Customer,Business travel,Business,satisfied

In [9]:
pd.get_dummies(cat_col).astype(int)

,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_neutral or dissatisfied,satisfaction_satisfied
0,0,1,1,0,0,1,0,0,1,1,0
1,0,1,0,1,1,0,1,0,0,1,0
2,1,0,1,0,1,0,1,0,0,0,1
3,1,0,1,0,1,0,1,0,0,1,0
4,0,1,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
103899,1,0,0,1,1,0,0,1,0,1,0
103900,0,1,1,0,1,0,1,0,0,0,1
103901,0,1,0,1,1,0,1,0,0,1,0
103902,1,0,0,1,1,0,0,1,0,1,0
103903,0,1,1,0,1,0,1,0,0,1,0

In [10]:
df["Customer Type"].value_counts()

Customer Type
Loyal Customer       84517
disloyal Customer    18905
Name: count, dtype: int64

In [11]:
##to convert alphabetical values to numerical values
##one hot encoding -- 0 and 1 me 
df["Gender"] = df["Gender"].map({"Male":0,"Female":1})
df["Customer Type"] = df["Customer Type"].map({"Loyal Customer":1,"disloyal Customer":0})
df["Type of Travel"] = df["Type of Travel"].map({"Personal Travel":0,"Business travel":1})
df["Class"] = df["Class"].map({"Business":1,"Eco":2,"Eco Plus":3})
df["satisfaction"] = df["satisfaction"].map({"neutral or dissatisfied":0,"satisfied":1})

In [12]:
##pandas indexing  has 2 typees
#1 -- loc -- label based indexing
#2 -- iloc -- position based indexing

# df.loc[0:10,["Gender","Customer Type"]]
df.iloc[0:10,0:3]

   Gender  Customer Type  Type of Travel
0       0              1               0
1       0              0               1
2       1              1               1
3       1              1               1
4       0              1               1
5       1              1               0
6       0              1               0
7       1              1               1
8       1              1               1
9       0              0               1

In [13]:
##handle imbalance data
loyal_customer = df[df["Customer Type"] == 1].loc[0:20000]
disloyal_customer = df[df["Customer Type"] == 0]

In [14]:
#axis = 0 -- row
#axis = 1 -- column
balance_df = pd.concat([loyal_customer,disloyal_customer],axis=0)
balance_df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,1,0,3,0,13,460,5,4,5,25,18.0
2,1,1,1,1,1,26,1142,5,4,5,0,0.0
3,1,1,1,1,0,25,562,2,3,2,11,9.0
4,0,1,1,1,1,61,214,3,4,3,0,0.0
5,1,1,0,2,0,26,1180,1,4,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103892,1,0,1,1,0,37,596,3,3,3,110,121.0
103895,1,0,1,2,0,24,1055,1,5,1,13,10.0
103899,1,0,1,2,0,23,192,2,4,2,3,0.0
103901,0,0,1,1,0,30,1995,4,4,4,7,14.0
103902,1,0,1,2,0,22,1000,1,1,1,0,0.0

In [15]:
##data divide x and y -- 
x = balance_df.drop("Customer Type",axis=1)
y = balance_df[["Customer Type"]]

In [16]:
##data ko divide training and testing --80-20 ratio
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,
                                                 random_state=42)

In [17]:
##normalise --- data range
from sklearn.preprocessing import StandardScaler,MinMaxScaler
## mean = 0 , std = 1
sd = StandardScaler()
x_train_scaled = sd.fit_transform(x_train)
x_test_scaled = sd.transform(x_test)

In [18]:
##ANN architure 
##il , hl , ol 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
##ann model define 
model = Sequential()
##input layer ---32 , 64 , 128 
model.add(Dense(68,activation="relu",input_dim = x_train_scaled.shape[1]))
##hidden layer 
model.add(Dense(32,activation="relu"))
model.add(Dense(24,activation="relu"))
model.add(Dense(12,activation="relu"))
##output layer 
model.add(Dense(1,activation="sigmoid"))

#model compile 
model.compile(loss="binary_crossentropy",
              optimizer="adam",
              metrics=["accuracy"])
model.summary()

c:\Users\ksain\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 68)             │           816 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,208 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 24)             │           792 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 12)             │           300 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 1)              │            13 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,129 (16.13 KB)

 Trainable params: 4,129 (16.13 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
##formula of calculate weights
##tp = (no of features * no of neurons ) + no of neurons
TP = 68 * 32 + 32
TP

2208

In [20]:
##train the model 
history = model.fit(x_train_scaled,y_train,epochs=10,
                    validation_data=(x_test_scaled,y_test))
history

Epoch 1/10
881/881 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8691 - loss: 0.3352 - val_accuracy: 0.9093 - val_loss: 0.2379
Epoch 2/10
881/881 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9094 - loss: 0.2333 - val_accuracy: 0.9126 - val_loss: 0.2266
Epoch 3/10
881/881 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.9154 - loss: 0.2194 - val_accuracy: 0.9071 - val_loss: 0.2413
Epoch 4/10
881/881 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.9134 - loss: 0.2195 - val_accuracy: 0.9180 - val_loss: 0.2162
Epoch 5/10
881/881 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9211 - loss: 0.2066 - val_accuracy: 0.9210 - val_loss: 0.2112
Epoch 6/10
881/881 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.9227 - loss: 0.2043 - val_accuracy: 0.9190 - val_loss: 0.2121
Epoch 7/10
881/881 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9229 - loss: 0.2048 - val_accuracy: 0.9186 - val_loss: 0.2185
Epoch 8/10
881/881 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9249 - loss: 0.1981 - val_accuracy: 0.9149 - val_loss: 0.2133
Epoch 9/10
881/881 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9242 - loss: 0.1983 - val_accuracy: 0.9220 - val_loss: 0.2095
Epoch 10/10
881/881 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.9245 - loss: 0.1934 - val_accuracy: 0.9211 - val_loss: 0.2034